@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap');

@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-serif: 'Instrument Serif', serif;
	--font-mono: 'Geist Mono', monospace;

	--color-background: #f5f5f5;
	--color-foreground: #171717;

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;
}

@custom-variant hover (&:hover);

@layer base {
	html {
		@apply no-scrollbar;
	}

	body {
		margin-bottom: max(0.5px, env(safe-area-inset-bottom));

		@apply lines mx-auto max-w-2xl bg-background px-lh text-foreground before:full-bleed before:border-y-[.5px];
	}

	main {
		@apply lines before:border-x-[.5px];
	}

	section {
		@apply lines before:full-bleed before:border-t-[.5px] last:before:border-b-[.5px];
	}

	a {
		@apply hover:bg-current/10;
	}
}

/* components */

@utility lines {
	@apply relative before:pointer-events-none before:absolute before:inset-0 before:border-current/25;
}

/* utilities */

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
