@import 'tailwindcss';

@theme {
	--color-background: #ddddd1;
	--color-background-light: #f5f5f5;
	--color-foreground: #292919;
	--color-foreground-subdued: #5c5c4e;

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;

	--toc-width: var(--container-3xs);
}

@custom-variant hover (&:hover);

@variant scrolled (body:has(main[data-is-intersecting]) &);
@variant at-bottom (body:has(footer[data-is-intersecting]) &);

@layer base {
	:root {
		interpolate-size: allow-keywords;
		scroll-behavior: smooth;
	}

	::selection {
		@apply bg-foreground text-background;
	}

	dl {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: baseline;
		gap: 0.5rem 1lh;
	}

	rt {
		ruby-align: center;
	}

	::marker {
		color: var(--color-foreground-subdued);
	}

	pre {
		tab-size: 2;
	}
}

/* typography */

@utility h1 {
	@apply text-5xl md:text-7xl;
}

@utility h2 {
	@apply text-3xl leading-tight md:text-5xl;
}

@utility h3 {
	@apply text-2xl leading-tight;
}

@utility h4 {
	@apply text-xl leading-tight;
}

@utility manuscript {
	@apply first-letter:font-serif first-letter:italic;
}

/* components */

@utility link {
	@apply underline decoration-foreground-subdued/20 transition-colors hover:decoration-foreground-subdued;
}

@utility prose {
	@apply space-y-rlh;

	a:not([class]) {
		@apply link;
	}

	:is(ul, ol) {
		list-style: revert;
		padding-left: 1lh;
		@apply space-y-2;
	}
}
