@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&display=swap');

@import 'tailwindcss';

@theme {
	--font-mono: 'Geist Mono', monospace;

	--color-background: #faf8f1;
	--color-foreground: #222222;

	--spacing-ch: 1ch;
	--spacing-rch: 1rch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;
}

@layer base {
	::selection {
		@apply bg-foreground text-background;
	}

	body {
		@apply bg-background font-mono leading-[2ch] text-foreground;
	}
}

@utility sideways-lr {
	writing-mode: sideways-lr;
}
