@import 'tailwindcss';

@theme {
	--color-background: #000;
	--color-foreground: #fff;

	--color-sky: #0156cb;
	--color-subdued: #aaa;

	--spacing-ch: 1ch;
	--spacing-rch: 1rch;
	--spacing-lh: 1lh;
	--spacing-rlh: 1rlh;
}

@layer base {
	@view-transition {
		navigation: auto;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* typography */

@utility link {
	@apply text-foreground underline decoration-[.5px] hover:text-foreground;
}

@utility prose {
	@apply space-y-ch;
}

@utility unordered-list {
	@apply list-disc space-y-ch pl-[1em] leading-tight;

	li:has(a:not(:hover))::marker {
		@apply text-subdued;
	}
}

/* layout */

@utility section {
	@apply mx-auto w-full max-w-3xl px-ch py-[.5lh];
}

@utility no-scrollbar {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
