/* @import 'tailwindcss'; */

@layer theme, base, components, utilities;

@theme {
	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@import 'tailwindcss/theme.css' layer(theme);
/* @import 'tailwindcss/preflight.css' layer(base); */
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base {
	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark;
		}
	}

	* {
		min-width: 0;
	}

	[id]:target {
		scroll-margin-top: 1lh;

		animation: target-highlight 2s ease-in-out forwards;
	}

	@keyframes target-highlight {
		0%,
		50% {
			background-color: color-mix(in srgb, LinkText 25%, transparent);
		}
	}

	html {
		scroll-behavior: smooth;
	}

	h2::before {
		content: '## ';
	}
	h3::before {
		content: '### ';
	}
}
