@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	summary {
		display: block;
	}

	::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	.section {
		@apply max-w-screen-md mx-auto py-8 px-4;
	}

	.link {
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-thickness: .5px;
		text-decoration-color: turquoise;
		text-underline-offset: .4ch;
		transition: text-underline-offset .2s ease-in-out;
	}
	.link:hover {
		text-decoration-style: solid;
		text-underline-offset: .3ch;
	}

	.OR {
		@apply text-accent text-opacity-60;
	}
}
