@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	summary {
		display: block;
	}

	::-webkit-details-marker {
		display: none;
	}
}

@layer components {
	._btn {
		display: inline-block;
		padding: .25em 1em;
	}

	.action {
		@apply _btn bg-black text-white dark:bg-white dark:text-black;
	}

	.link {
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-thickness: .5px;
		text-underline-offset: .4ch;
		transition: text-underline-offset .2s ease-in-out;
	}
	.link:hover {
		text-decoration-style: solid;
		text-underline-offset: .3ch;
	}
}
