@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Shippori+Antique+B1&display=swap');

@font-face {
	font-family: 'Rage Italic';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/RageItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Dealerplate';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Dealerplate.ttf') format('truetype');
}

@font-face {
	font-family: 'TRM';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/TRM.ttf') format('truetype');
}

@font-face {
	font-family: 'FZ';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/FZ.ttf') format('opentype');
}
