@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@font-face {
	font-family: 'Maru Monica';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(/fonts/MaruMonica.ttf) format('truetype');
}

@font-face {
	font-family: 'Ounen-mouhitsu';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(/fonts/Ounen-mouhitsu.otf) format('opentype');
}
