@font-face {
	font-family: 'Hessian';
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/Hessian.otf) format('opentype');
}

@font-face {
	font-family: 'MLB Tusca';
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/MLBTusca.ttf) format('truetype');
}
