@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		image-rendering: pixelated;
	}

	._panel {
		min-height: 3.5em;
		@apply m-1 bg-white;
	}

	.panel-white {
		@apply _panel rounded;
		padding: 7px 14px;
		border-image: url(/img/panel-white.png) 6 / 7px;
	}

	.panel-green {
		@apply _panel rounded-full;
		padding: 12px 22px;
		border-image: url(/img/panel-green.png) 11 21 / 12px 22px;
	}
}
