@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		padding: 1rem;
		font-family: initial;
	}
}

@layer components {
	.link {
		color: initial;

		@apply underline hover:decoration-2;
	}

	.demo {
		outline: 1px dashed #0004;
		outline-offset: 2px;
		max-width: max-content;
	}

	.demo:empty {
		display: none;
	}
}
