@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;

	--color-foreground: #fff;
	--color-background: #000;

	--spacing-lh: 1lh;
	--spacing-ch: 1ch;
}

@custom-variant hover (&:hover);

@layer base {
	::selection {
		background-color: var(--color-foreground);
		color: var(--color-background);
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		cursor: crosshair;
		line-height: 1;
	}

	address {
		font-style: normal;
	}
}

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
